/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 13 may. 2021, 9:12:13
    Author     : daw1
*/

*{
    font-family: Arial, sans-serif;
}
h1{
    text-align: center;
    color: cornflowerblue;
    margin: 1%;
}

table{
    border-collapse: collapse;
    text-align: center;
    margin: auto;
    border: 5px solid cornflowerblue;
    width: 75%;
    border-top: none;
}
caption{
    background-color: cornflowerblue;
    color: white;
    text-transform: uppercase;
    padding: 1%;
    font-size: large;
}
th{
    background-color: lightsteelblue;
    color: white;
    border: 1px solid white;
}
tr{
    border: 1px solid cornflowerblue;
}
th, td{
    box-sizing: border-box;
}

.max{
    color: red;
}
.min{
    color: dodgerblue;
}
